@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.sistema{
    background-image: url(../img/fondo.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}
    
.titulo{
    color: rgb(252, 252, 252);
}
