{% extends 'base.html' %}
{% load static %}
{% block title %}Inicio{% endblock title %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% block body %}
<div class="sistema d-flex align-items-center justify-content-center flex-column">
    <hr><hr>
    <div class="titulo">
        <h1>SISTEMA DE ADMISIÓN Y REGISTRO</h1>
    </div>
    <hr>
    <div class="boton1">
        <a href="/aspirante/" class="btn btn-outline-light" role="button">Ver listado de Admitidos</a>
        <a href="/registrar/" class="btn btn-outline-light" role="button">Registrar Aspirante</a>
    </div>
</div>
{% endblock body %}